<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="col-xs-2">
          <label>Nom:
        </div>
        <div class="col-xs-10">
          <input type="text" ng-model="user.lastname" />
        </div>
        </label>
        </div>

        <div class="col-xs-2">
          <label>Prénom:
          </div>
          <div class="col-xs-10">
            <input type="text" ng-model="user.firstname" />
          </label>
        </div>

        <div class="col-xs-2">
          <label>E-mail:
          </div>
          <div class="col-xs-10">
          <input type="email" ng-model="user.email" />
        </label>
        </div>

        <div class="col-xs-2">
          <label>Age:
        </div>
        <div class="col-xs-10">
          <input type="email" ng-model="user.age" />
        </label>
        </div>

        <div class="col-xs-2">
          <label>Ville:
        </div>
        <div class="col-xs-10">
          <input type="email" ng-model="user.location" />
        </label>
        </div>

      </form>
    </div>
  </div>
</div>
