<div class="container-fluid home">

  <div class="row ">
    <div class="userSection">
      <div class="col-xs-1 user ">
        <img class="imageUser" ng-src="{{user.avatar}}" alt="">
      </div>
        <div class="col-xs-2 user">

        <ul class="userList">
          <li><b>{{user.pseudo}}</b></li>
          <li><b>Your's score: </b>{{user.score}}</li>
        </ul>
        <ul>
          <li><b>statistique:</b></li>
          <li ng-repeat="state in user.statistique"><b>{{state.categorie}}:</b> {{state.score}}Pts</li>
        </ul>
      </div>
    </div>
    <div class="tchatBox" ng-show="guest !== undefined">
      <div class="col-xs-offset-1 col-xs-4">
        <div class="box" id="box" style="overflow:scroll" scroll-glue>
          <ul>
            <li style="color:black" ng-repeat="message in messages track by $index">{{message.message}}</li>
          </ul>
        </div>
        <textarea name="name" rows="3" cols="73" ng-model="message"></textarea>
        <button type="button" class="btn btn-default" ng-click="send(message)">
          envoie
        </button>

      </div>

    </div>

    <div class="guestUserSection" ng-show="guest !== undifined">
      <div class="col-xs-offset-1 col-xs-2 user ">
        <ul class="userList">
          <li><b>{{guest.pseudo}}</b></li>
          <li><b>score: </b>{{guest.score}}</li>
        </ul>
        <ul>
          <li><b>statistique:</b></li>
          <li ng-repeat="state in guest.statistique"><b>{{state.categorie}}:</b> {{state.score}}Pts</li>
        </ul>
      </div>
        <div class="col-xs-1 user guestSide">
          <img class="imageUser" ng-src="{{guest.avatar}}" alt="">
      </div>
    </div>

      <div>
        <div class="col-xs-12 guestSection">
          <ks-swiper-container swiper="swiper" slides-per-view="10" space-between="0">
    <ks-swiper-slide class="swiper-slide" ng-repeat="guest in guests track by $index" >
      <div class="boxImg" ng-click="toGuest(guest)">
        <img class="imageGuest" ng-src="{{guest.avatar}}">
      </div>
      <p>{{guest.score}}</p>
    </ks-swiper-slide>
</ks-swiper-container>

        </div>

      </div>
    </div>

  </div>
