<div class="container-fluid home">

  <div class="row userSection">
    <div class="user" ng-show="user.score < 40">
      <div class="col-xs-offset-1 col-xs-2 ">
        <img class="image" src="./img/onizuka.jpg" alt="">
      </div>
      <div class="col-xs-offset-1 col-xs-4">
        <ul>
          <li><b>{{user.pseudo}}</b></li>
          <li><b>Your's score: </b>{{user.score}}</li>
        </ul>
        <b>statistique:</b>
        <ul>
          <li ng-repeat="state in user.statistique"><b>{{state.categorie}}:</b> {{state.score}} Points</li>
        </ul>
      </div>
    </div>
    <div class="user" ng-show="user.score > 40 && user.score < 60 ">
      <div class="col-xs-offset-5 col-xs-4 ">
        <img class="image" src="./img/onizuka.jpg" alt="">
      </div>
      <div class="col-xs-offset-1 col-xs-4">
        <ul>
          <li><b>{{user.pseudo}}</b></li>
          <li><b>Your's score: </b>{{user.score}}</li>
        </ul>
        <b>statistique:</b>
        <ul>
          <li ng-repeat="state in user.statistique"><b>{{state.categorie}}:</b> {{state.score}} Points</li>
        </ul>
      </div>
    </div>
    <div class="user" ng-show="user.score > 60">
      <div class="col-xs-offset-6 col-xs-2">
        <ul>
          <li><b>{{user.pseudo}}</b></li>
          <li><b>Your's score: </b>{{user.score}}</li>
        </ul>
        <b>statistique:</b>
        <ul>
          <li ng-repeat="state in user.statistique"><b>{{state.categorie}}:</b> {{state.score}} Points</li>
        </ul>
      </div>
      <div class=" col-xs-2 ">
        <img class="image" src="./img/onizuka.jpg" alt="">
      </div>
    </div>
  </div>


  <div class="row guestSection">
    <div class="col-xs-offset-2 col-xs-2">
      <div class="guests" ng-show="guest.score > 40 && guest.score < 60">
        <ul>
          <li ng-repeat="guest in guests"><img class="image" src="./img/onizuka.jpg" alt="">
            <p>{{guest.pseudo}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-offset-5 col-xs-4 ">
      <div class="guests" ng-show="guest.score < 40">
        <ul>
          <ul>
            <li ng-repeat="guest in guests"><img class="image" src="./img/onizuka.jpg" alt="">
              <p>{{guest.pseudo}}</p>
            </li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-offset-9 col-xs-2 ">
      <div class="guests" ng-repeat="guest in guests">
        <img class="image" src="./img/bitch.jpg" alt="">
        <p>{{guest.pseudo}}</p>
      </div>
    </div>
  </div>



</div>
</div>
